/* style all subsequent messages to be hidden when they appear. 
 * this is intended to fix the weird flicker render when messages dealt with. */


/*better twitch tv message*/
div.chat-line {
	display: none;
	visibility: hidden;
}

/*better twitch tv admin msg*/
div.chat-line.admin {
	display: block;
	visibility: visible;
}

li.message-line.chat-line {
	display: none;
	visibility: hidden;
}

li.message-line.chat-line.special-message {
	display: block;
	visibility: visible;
}


/*.dataviz {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    color: #D3D3D3;
    width: 800px;
    height: 500px;
    z-index: 9002;
    border-radius: 3px;
    border: 1px solid #000;
}
*/